<div class="wrapper-site">
    <app-site-nav></app-site-nav>
    <div class="loader-operation" [class.active]="true">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <form [formGroup]="brandForm" style="padding:0 20px" autocomplete="off">
        <!-- Modal -->
        <div class="simule-modal" (click)="closeModal()" [class.active]="showModal">
            <div class="simule-modal-wrapper" (click)="stop($event)">
                <div class="simule-body">
                    <div class="simule-content">
                        <h2>Détails du transfert</h2>
                        <div class="simule-list" *ngIf="details">
                            <div class="list"><strong><span class="icon-dot-circled"></span> Montant du
                                    transfert</strong>
                                {{details.montant_total}}$
                            </div>

                            <div class="list"><strong><span class="icon-dot-circled"></span>Nom du récepteur</strong>
                                {{details.recever.name}}</div>

                            <div class="list"><strong><span class="icon-dot-circled"></span>Téléphone</strong>
                                {{details.recever.phone}}</div>

                            <div class="list"><strong><span class="icon-dot-circled"></span>Email</strong>
                                {{details.recever.email}}</div>
                        </div>
                    </div>
                </div>

                <div class="box-btn">
                    <button (click)="envoyer()" class="button" [class.button--loading]="isConfirming" [disabled]="isConfirming">
                        <span class="button__text">Confirmer</span>
                    </button>
                    <button id="close-modal" (click)="closeModal()">Annuler</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <!-- contents -->
        <div class="contents-site">
            <div class="content-bloc">

                <div class="form-card">
                    <div class="form-text">
                        <p>Transfert locale</p>
                    </div>

                    <div class="form-content">
                        <input type="text" id="id" formControlName="id" hidden>

                        <div class="group-form" [class.error]="errors.amount">
                            <input type="number" id="amount" formControlName="amount" placeholder="Insérez le montant">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                    <rect x="32" y="80" width="448" height="256" rx="16" ry="16"
                                        transform="translate(512 416) rotate(180)"
                                        style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px" />
                                    <line x1="64" y1="384" x2="448" y2="384"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                    <line x1="96" y1="432" x2="416" y2="432"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                    <circle cx="256" cy="208" r="80"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                    <path d="M480,160a80,80,0,0,1-80-80"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                    <path d="M32,160a80,80,0,0,0,80-80"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                    <path d="M480,256a80,80,0,0,0-80,80"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                    <path d="M32,256a80,80,0,0,1,80,80"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                                </svg>
                            </span>
                        </div>
                        <span class="error-title" *ngIf="errors.amount">{{errors.amount}}</span>

                        <div class="group-form" [class.error]="errors.recever_number">
                            <input type="text" id="recever_number" formControlName="recever_number"
                                placeholder="Numéro récepteur" minlength="10" maxlength="10">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                    <rect x="128" y="16" width="256" height="480" rx="48" ry="48"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                                    </rect>
                                    <path
                                        d="M176,16h24a8,8,0,0,1,8,8h0a16,16,0,0,0,16,16h64a16,16,0,0,0,16-16h0a8,8,0,0,1,8-8h24"
                                        style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <span class="error-title" *ngIf="errors.recever_number">{{errors.recever_number}}</span>

                        <div class="form-btn">
                            <!-- (click)="recharge()" -->
                            <button (click)="simuler()" class="button" [class.button--loading]="isLoading"
                                [disabled]="isLoading">
                                <span class="button__text">Transférer</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!-- contents -->
</div>