<form [formGroup]="brandForm" class="wrapper-site form-container pd-20">
    <div class="form-card">
        <div class="form-header">
            <div class="form-icon">
                <div class="circle-icon">
                    <div class="circle-icon_1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                            <title>ionicons-v5-o</title>
                            <rect x="48" y="96" width="416" height="320" rx="40" ry="40"
                                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                            <polyline points="112 160 256 272 400 160"
                                style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="form-title">
                <h1>Mot de passe oublié</h1>
            </div>
        </div>

        <div class="error-box" [class.active]="invalide">
            <p> {{ invalide }}</p>
        </div>

        <div class="form-content">
            <div class="group-form" [class.error]="errors.email">
                <input type="email" id="email" formControlName="email" placeholder="gabomapay@gmail.com">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                        <rect x="48" y="96" width="416" height="320" rx="40" ry="40"
                            style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                        </rect>
                        <polyline points="112 160 256 272 400 160"
                            style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                        </polyline>
                    </svg>
                </span>
            </div>
            <span class="error-title" *ngIf="errors.email"> {{errors.email}} </span>

            <div class="form-btn">
                <button type="submit" (click)="forgot()" class="button" [class.button--loading]="isLoading"
                    [disabled]="isLoading">
                    <span class="button__text">Rechercher</span>
                </button>
            </div>

            <div class="forgot">
                <p>Vous possedez un compte ? <a [routerLink]="['/site/login']"> Cliquez ici</a></p>
            </div>
        </div>
    </div>
</form>