/* Loader button */
/* Loader button */

.button {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}

.button__text {
  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
/* Loader button */
/* Loader button */

.wrapper-site svg path,
.wrapper-site svg circle,
.wrapper-site svg polygon,
.wrapper-site svg polyline,
.wrapper-site svg line,
.wrapper-site svg rect {
  stroke: var(--grey-light) !important;
}

* input:autofill {
  filter: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: #fff !important;
  color: #fff !important;
  -webkit-text-fill-color: var(--white) !important;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out;
}

.wrapper-site svg {
  width: 24px;
  height: 24px;
}

.pd-20 {
  padding: 20px;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper-site {
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: var(--white);
  background: var(--black-base);
}

.contents-site {
  width: 100%;
  position: relative;
  padding: 60px 0 60px;
}

.content-bloc {
  width: 100%;
  position: relative;
}

/* Formulaire input */
/* Formulaire input */

.form-container svg {
  fill: transparent !important;
}

.form-container .form-logo p {
  font-size: 18px;
  margin-top: 4px;
}

.form-card {
  width: 100%;
  margin-top: 30px;
}

.form-card svg {
  fill: transparent !important;
}

.form-card .form-text {
  margin-bottom: 30px;
}

.form-card .form-text p {
  font-size: 22px;
}

.form-card .form-title p {
  margin-top: 20px;
}

.form-card .form-title p a {
  color: var(--orange-base);
}

.form-card .form-content {
  width: 100%;
  position: relative;
  margin-top: 30px;
  padding-bottom: 40px;
}

.form-content .group-form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 0px;
  border: 1px solid var(--grey-input);
  background: var(--grey-input-fill);
  margin-bottom: 20px;
  border-radius: 4px;
}

.form-content .group-form .icon {
  display: block;
  position: absolute;
  right: 20px;
}

.form-content .group-form textarea,
.form-content .group-form select,
.form-content .group-form input {
  background: var(--grey-input-fill);
  border: none;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 90%;
  background: transparent;
  color: var(--white);
  font-size: 18px;
}

.form-content .group-form .icon {
  position: absolute;
  right: 20px;
}

.form-content .group-form select {
  appearance: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../../ressources/icons/caret-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
  background-size: 20px;
  padding-right: 40px;
  color: var(--grey-input);
}

.form-content .form-btn {
  width: 100%;
  position: relative;
}

.form-content .form-btn button {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 20px;
  font-family: "Poppins-Medium";
  font-size: 20px;
  border-radius: 4px;
  background: var(--orange-base);
}

.group-form-file {
  width: 100%;
}

.group-form-file .label {
  margin-bottom: 20px;
  display: block;
  color: var(--grey-light);
}

.group-form-file + .error-title{
  margin-top:10px !important;
}

.file-content {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px dashed var(--grey-input);
  background: var(--grey-input-fill);
  padding: 20px;
  border-radius: 6px;
}

.file-content svg {
  width: 30px;
  height: 30px;
}

.preview-img {
  position: relative;
  margin-top: 20px;
}

.preview-img-site{
  margin-top:20px
}

.preview-img .pr-img {
  position: relative;
  width: 110px;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
}

.pr-img img {
  width: 100%;
  height: 100%;
  border-radius:10px;
  object-fit:cover;
}

.pr-img .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pr-img .cancel .icon-cancel {
  font-size: 17px;
}

/* Formulaire input */
/* Formulaire input */

/* Error */
/* Error */

.error-title {
  display: block;
  margin-top: -13px;
  margin-bottom: 10px;
  color: #ec6774;
}

.error {
  background: #ec67743b !important;
  border-color: #ec6774 !important;
}

.error-box {
  background: #bd2c3b;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 6px;
  display: none;
}

.error-box.active {
  animation: show 0.6s ease 0s;
  display: block;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*=============================================
=            Section Formulaire All            =
=============================================*/

.form-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

.form-container .form-header{
  width:100%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  margin-bottom:20px;
}

.form-header .circle-icon{
  margin-bottom:20px;
  background:#333;
  width:100px;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  border-radius:50%;
}

.form-header .circle-icon_1{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#444;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.form-header .circle-icon svg{
  width:40px;
  height:40px;
}

.form-header h1{
  text-align:center;
}

.form-header .circle-icon svg,
.form-header .circle-icon svg path,
.form-header .circle-icon svg rect,
.form-header .circle-icon svg polyline{
  stroke:#fff !important;
}

.form-container .form-logo {
  width:100%;
  margin-top: 10px;
  padding: 20px 0;
}

.form-container .form-logo h1 {
  font-family: "FiraCode";
  user-select: none;
  color: var(--white);
}

.form-container .form-logo h1 span {
  color: var(--orange-base);
}

.form-container .form-logo p {
  font-size: 18px;
  margin-top: 4px;
}

.form-card {
  width: 100%;
  margin-top: 30px;
}

.form-card .form-text {
  margin-bottom: 30px;
}

.form-card .form-text p {
  font-size: 22px;
}

.form-card .form-title p {
  margin-top: 20px;
}

.form-card .form-title p a {
  color: var(--orange-base);
}

.form-card .form-content {
  width: 100%;
  position: relative;
  margin-top: 30px;
  padding-bottom: 40px;
}

.form-content .group-form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 0px;
  border: 1px solid var(--grey-input);
  background: var(--grey-input-fill);
  margin-bottom: 20px;
  border-radius: 4px;
}

.form-content .group-form .icon {
  display: block;
  position: absolute;
  right: 20px;
}

.form-content .group-form input {
  border: none;
  outline: none;
  padding: 20px 20px 20px 20px;
  width: 90%;
  background: transparent;
  color: var(--white);
  font-size: 18px;
}

.form-content .form-btn {
  width: 100%;
  position: relative;
}

.form-content .form-btn button {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 20px;
  font-family: "Poppins-Medium";
  font-size: 20px;
  border-radius: 4px;
  background: var(--orange-base);
}

.form-content .forgot {
  margin-top: 20px;
}

.form-content .forgot a {
  display: inline-block;
  color: var(--white);
  font-size: 17px;
}
.form-content .forgot p {
  font-size: 17px;
  color: var(--grey-light);
  margin-top: 10px;
}

.check-content {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.check-content .square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  line-height: 0px;
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  margin-right: 10px;
  transition: all 0.3s ease 0s;
  background: transparent;
}

.check-content .square .check {
  opacity: 0;
}

.check-content .square .check svg {
  width: 22px;
  height: 22px;
}

.check-content .square .check svg polyline {
  stroke: var(--black-base) !important;
}

.check-content p {
  display: inline-block;
  width: 90%;
}

.check-content a {
  color: var(--orange-base);
}

.check-content a span {
  color: var(--white);
}

.check-content input[type="checkbox"]:checked ~ .square {
  background: var(--orange-base);
  border-color: var(--orange-base);
}

.check-content input[type="checkbox"]:checked ~ .square .check {
  opacity: 1;
}



/**
 *
 * Preview identite
 *
 */

 .identite {
  width: 100% !important;
  height: 220px;
  object-fit: cover;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .identite {
    width: 100% !important;
    height: 330px;
    object-fit: cover;
  }
}


/*=====  End of Section Formulaire All  ======*/

/*=============================================
=            Section Transaction            =
=============================================*/
.transactions {
  width: 100%;
  position: relative;
  margin-top: 40px;
  padding-bottom: 30px;
}

.transactions .transac-content {
  width: 100%;
  position: relative;
}

.transactions .transac-content .transac-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4648484d;
  padding: 20px 0px 20px;
  color: var(--white);
}

.transactions .transac-content .transac-box:active {
  background: #444;
}

.transac-content .transac-box .transac-id-right {
  display: flex;
  align-items: center;
}

.transac-content .transac-box .transac-id-right .transac-id {
  width: 50px;
  height: 50px;
  border: 1px solid #e9bf1b;
  background: #ecb41b33;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  margin-right: 10px;
}

.transac-content .transac-box .transac-id-right .transac-id span {
  display: block;
  font-family: "Poppins-Medium";
  font-size: 20px;
  color: #e9bf1b;
}

.transac-content .transac-box .transac-id-right .transac-text .date {
  display: block;
  margin-bottom: 5px;
  color: var(--grey-light);
  text-transform: capitalize;
}

.transac-content .transac-box .transac-id-right .transac-text p {
  font-size: 17px;
  text-transform: initial;
}

.transac-content .transac-box .transac-mont p {
  font-size: 18px;
  font-family: "Poppins-Medium";
}

.transac-content .transac-box:nth-child(even) .transac-id-right .transac-id {
  border: 1px solid #5b9a93;
  background: #5b9a933b;
  color: #5b9a93;
}

.transac-content
  .transac-box:nth-child(even)
  .transac-id-right
  .transac-id
  span {
  color: #5b9a93;
}

.transactions .pagination{
  justify-content: flex-start !important;
  margin-top:20px !important;
}

.transactions .pagination .ngx-pagination .current {
  background: var(--orange-base) !important;
}

/*=====  End of Section Transaction  ======*/

/************** Loader **************/
/************** Loader **************/

.loader-operation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 900;
  background: rgba(0, 0, 0, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in 0s;
}

.loader-operation.active {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--orange-base);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--orange-base) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************** Loader **************/
/************** Loader **************/

/*=============================================
=            Section Skeleton            =
=============================================*/

.img-skeleton {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: none;
}

.skel-para {
  width: 100%;
  height: 15px;
  display: none;
  border-radius: 30px;
  margin-bottom: 10px;
}

.user-skeleton {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-right: 10px;
  display: none;
}

.skel-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.skel-background {
  background-image: linear-gradient(
    to right,
    #737373 0%,
    #454545 20%,
    #737373 40%,
    #737373 100%
  );
  background-size: 1200px 100%;
  background-repeat: no-repeat;
  animation: slide 1s linear infinite;
}

/**
 *
 * Skeleton-transaction
 *
 */

.skel-transac {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top:20px;
}

.skel-box {
  display: flex;
  align-items: center;
}

.skel-id {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.skel-transac .skel-text .skel-para {
  width: 100px;
  height: 10px;
  display: block;
}

.skel-transac .skel-text .skel-para:last-child {
  margin-bottom: 0px;
  width: 60px;
}

.skel-price .skel-para {
  display: block;
  width: 30px;
  height: 10px;
}
/*=====  End of Skeleton-transaction  ======*/

/*=============================================
=            Simulator modal            =
=============================================*/

/* Moadal */
.simule-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: var(--black-base);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform 0.4s cubic-bezier(0.07, 0.04, 0.59, 0.99) 0s,
    visibility 0.2s ease-in, opacity 0.3s ease-in 0s;
  pointer-events: none;
}

.simule-modal.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.simule-modal .simule-modal-wrapper {
  width: 100%;
  position: relative;
  background: var(--white);
  border-radius: 10px;
  padding: 50px 30px;
}

.simule-modal-wrapper .simule-title {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--teal-deep);
}

.simule-modal-wrapper .simule-title .icon svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  fill: transparent !important;
}

.simule-modal-wrapper .icon svg circle,
.simule-modal-wrapper .icon svg rect,
.simule-modal-wrapper .icon svg line,
.simule-modal-wrapper .icon svg path {
  stroke: var(--teal-deep) !important;
}

.simule-modal-wrapper .simule-body {
  margin-top: 30px;
}

.simule-content {
  text-align: center;
}

.simule-content h2 {
  margin-bottom: 30px;
}

.simule-list {
  width: 100%;
}

.simule-list .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.simule-list .list div {
  color: var(--orange-base);
  font-weight: bold;
}

.simule-list .list:not(:last-child) {
  margin-bottom: 10px;
}

.box-btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.simule-modal-wrapper .simule-body .btn-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.simule-modal-wrapper .simule-body .btn-options svg {
  width: 60px;
  height: 60px;
  fill: var(--teal-deep) !important;
}

.simule-modal-wrapper .simule-body .btn-options a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid var(--teal-deep);
  color: var(--teal-deep);
  width: 100%;
  padding: 15px 15px 0;
  border-radius: 6px;
  position: relative;
  margin-bottom: 20px;
}

.simule-modal-wrapper .simule-body .btn-options a .title {
  display: inline-block;
  margin-left: 10px;
}

.simule-modal-wrapper .simule-body .btn-options .icon-2 {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.simule-modal-wrapper .simule-body .btn-options .icon-2 svg {
  width: 20px;
  height: 20px;
}

.box-btn a,
.box-btn button {
  display: inline-block;
  border: none;
  outline: none;
  border: none;
  padding: 20px 15px;
  font-size: 17px;
  width: 47%;
  background: var(--orange-base);
  color: var(--white);
  text-align: center;
  border-radius: 10px;
}

.box-btn button:first-child {
  background: var(--orange-base);
}

.box-btn button {
  background: #151515;
}

.close-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.close-modal button {
  border: 1px solid var(--teal-deep);
  color: var(--teal-deep);
  padding: 10px;
  border-radius: 4px;
  background: transparent;
}

/*=====  End of Simulator modal  ======*/

/**
 *
 * Skeleton-card
 *
 */

.skel-card {
  width: 100%;
  height: 173.9px;
  display: none;
}

.skel-card .skel-card-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #dad8d8;
}

.skel-square {
  width: 40px;
  height: 35px;
  border-radius: 4px;
  display: none;
}

.skel-textarea,
.skel-input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: none;
}

.skel-textarea {
  height: 100px;
}


.skel-textarea.show,
.skel-input.show,
.skel-square.show,
.skel-card.show,
.skel-transac.show,
.user-skeleton.show,
.skel-para.show,
.img-skeleton.show {
  display: block;
}

.skel-transac.show {
  display: flex;
}

.none {
  display: none !important;
}

@keyframes slide {
  from {
    background-position: top left;
  }
  to {
    background-position: top right;
  }
}
/*=====  End of Section Skeleton  ======*/